.footer {

  position: relative;
  .container {
    position: relative;
    z-index: 2;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../images/footer-left-bg.svg') no-repeat bottom left 3%;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../images/footer-right-bg.svg') no-repeat bottom right 3%;
  }

  a {
    display: block;
    color: #4A4A4A;
    text-decoration: none;
    transition: all .3s;
    
    &:hover {
      color: $theme2;
    }
  }
  
  label {
    color: #4A4A4A;
  }

  input {
    background: $white;
    border: 1px solid #E8EFFF;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 400;

    &::placeholder {
      color: rgba($paraText, .3);
    }

    &:focus {
      box-shadow: none;
      border-color: $theme1;
    }
  }

  .form-select {
    border-color: $theme1;
  }
}